<!DOCTYPE HTML>
<html>
	<head>
		<title>Formación</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a (click)="gotoHome()" class="title">Mi portfolio</a>
				<nav>
					<ul>
						<li><a (click)="gotoHome()">Inicio</a></li>
						<li><a (click)="gotoFicha()">Ficha</a></li>
						<li><a (click)="gotoFormacion()" class="active">Formación</a></li>
						<li><a (click)="gotoConocimientos()">Conocimientos</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Formación</h1>
							<h2>Titulaciones</h2>
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Años</th>
											<th>Institución</th>
											<th>Título</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2006 - 2012</td>
											<td>CEIP Calatrava (Daimiel)</td>
											<td>Primaria</td>
										</tr>
										<tr>
											<td>2012 - 2016</td>
											<td><a href="http://iesjuandopazo.es/Wpa/">IES Juan D'Opazo (Daimiel)</a></td>
											<td>Educación Secundaria</td>
										</tr>
										<tr>
											<td>2016 - 2018</td>
											<td><a href="http://iesjuandopazo.es/Wpa/">IES Juan D'Opazo (Daimiel)</a></td>
											<td>Bachillerato</td>
										</tr>
										<tr>
											<td>2018 -</td>
											<td><a href="https://esi.uclm.es/">Escuela Superior de Informática </a><a  href="https://uclm.es/">(UCLM)</a></td>
											<td>Ingeniería Informática</td>
										</tr>
									</tbody>
								</table>
							</div>			
							<span class="image logo-uclm"><img src="assets/images/uclm.jpg" alt="" /></span>
							<h2><br/>Lenguas extranjeras</h2>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Idioma</th>
													<th>Conocimiento</th>
													<th>Año</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><span class="logo-idioma"><img src="assets/images/espana.png" alt="" /></span></td>
													<td>Lengua nativa</td>
													<td>-</td>
												</tr>
												<tr>
													<td><span class="logo-idioma"><img src="assets/images/francia.png" alt="" /></span></td>
													<td>Educación Secundaria en modalidad bilingüe</td>
													<td>2016</td>
												</tr>
												<tr>
													<td><span class="logo-idioma"><img src="assets/images/british.png" alt="" /></span></td>
													<td> B2 <a href="https://www.cambridgeenglish.org/es/">(Cambridge)</a>/ C1 en progreso actualmente</td>
													<td>2017</td>
												</tr>
											</tbody>
										</table>
									</div>		
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Plantilla de: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>