<!DOCTYPE HTML>
<html>
	<head>
		<title>Ficha</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a (click)="gotoHome()" class="title">Mi portfolio</a>
				<nav>
					<ul>
						<li><a (click)="gotoHome()">Inicio</a></li>
						<li><a (click)="gotoFicha()" class="active">Ficha</a></li>
						<li><a (click)="gotoFormacion()">Formación</a></li>
						<li><a (click)="gotoConocimientos()">Conocimientos</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Ficha básica</h1>
							<p>Me presento, mi nombre completo es Adrián Sánchez-Miguel Ortega. De las iniciales de mi nombre y apellidos sale mi logo personal:</p>							
							<span class="image logo-ficha"><img src="favicon.ico" alt="" /></span>
							<h3>Información</h3>
											<ul>
												<li>Nací un 29/02/2000 así que actualmente tengo 21 años.</li>
												<li>Lo hice en Ciudad Real, y me crié junto a mi familia en <a href="https://www.daimiel.es/">Daimiel</a>, pueblo de esta provincia</li>
												<li>Me considero una persona trabajadora, perseverante, educada y que sabe trabajar en equipo.</li>
												<li>Mi pasión por la informática existe desde que soy muy pequeño y me gusta afrontar retos que me permitan mejorar y seguir aprendiendo.</li>
											</ul>
							<span class="image fit"><img src="assets/images/yo.jpeg" alt="" /></span>
							
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>Plantilla de: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>