<!DOCTYPE HTML>
<html>
	<head>
		<title>Conocimientos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a (click)="gotoHome()" class="title">Mi portfolio</a>
				<nav>
					<ul>
						<li><a (click)="gotoHome()">Inicio</a></li>
						<li><a (click)="gotoFicha()">Ficha</a></li>
						<li><a (click)="gotoFormacion()">Formación</a></li>
						<li><a (click)="gotoConocimientos()" class="active">Conocimientos</a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">
				<section id="main" class="wrapper">
					<div class="inner">
						<h2>Conocimientos téncnicos</h2>
						<div class="features">
							<section>
								<!--<span class="icon solid major fa-code"></span>-->
								<span class="image fit"><img src="assets/images/lenguajes.PNG" alt="" /></span>
								<h3>Lenguajes de programación</h3>
								<ul class="alt">
									<li>Java: 80%</li>
									<li>Python: 60%</li>
									<li>C#: 70%</li>
									<li>C: 60%</li>
									<li>C++: 60%</li>
									<li>Katlin: 70%</li>
								</ul>							
							</section>
							<section>
								<span class="image fit"><img src="assets/images/web.PNG" alt="" /></span>
								<h3>Desarrollo web</h3>
								<ul class="alt">
									<li>HTML5: 80%</li>
									<li>CSS: 80%</li>
									<li>JavaScript: 70%</li>
									<li>Spring: 60%</li>								
									<li>Knockout: 70%</li>
									<li>Prestashop: 70%</li>
								</ul>							
							</section>
							<section>
								<span class="image fit"><img src="assets/images/plataformas.PNG" alt="" /></span>
								<h3>Frameworks</h3>
								<ul class="alt">
									<li>Maven: 70%</li>
									<li>UWP: 70%</li>
									<li>WPF 80%</li>	

								</ul>
							</section>
							<section>
								<span class="image fit"><img src="assets/images/otros.PNG" alt="" /></span>
								<h3>Otros</h3>
								<ul class="alt">
									<li>Git: 70%</li>
									<li>AndroidStudio: 80%</li>
									<li>MySQL: 70%</li>
									<li>SQLite: 70%</li>
								</ul>
							</section>
						</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>Plantilla de: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>